<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link href="formulario.css" rel="stylesheet">
</head>
<body>

    <%=resposta%>


    <h2>cadastro (exemplo de create)</h2>
    <form action="cadastrar_usuario" method="post">
        nome<input type="text" name="nome">
        login<input type="text" name="login">
        senha<input type="password" name="senha">
        <input type="submit" value="cadastrar">
    </form>

    <h2>login (exemplo de read)</h2>
    <form action="logar_usuario" method="post">
        login<input type="text" name="login">
        senha<input type="password" name="senha">
        <input type="submit" value="login">
    </form>
    
    <h2>atualizar usuário - alterar senha (exemplo de update)</h2>
    <form action="atualizar_usuario" method="post">
        login<input type="text" name="login">
        senha atual<input type="password" name="senha">
        nova senha<input type="password" name="novasenha">
        <input type="submit" value="atualizar senha">
    </form>

    <h2>remover usuário (exemplo de delete)</h2>
    <form action="remover_usuario" method="post">
        login<input type="text" name="login">
        senha <input type="password" name="senha">
        <input type="submit" value="remover usuario">
    </form>

</body>
</html>