<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="formulario.css" rel="stylesheet">
</head>
<body>

    <%=resposta%>
    <a href="/cadastro">cadastro</a>
    <a href="/login">login</a>
       
    <h1>HOME - perfil usuário</h1>

    <!-- inserir botao p alterar senha -->
    <h2>Alterar senha </h2>
    <form action="atualizar_usuario" method="post">
        Email<input type="text" name="email">
        Senha atual<input type="password" name="senha">
        Nova senha<input type="password" name="novasenha">
        <input type="submit" value="atualizar senha">
    </form>

    
    <h2>Excluir conta</h2>
    <form action="remover_usuario" method="post">
        email<input type="text" name="email">
        senha <input type="password" name="senha">
        <input type="submit" value="remover usuario">
    </form>
</body>
</html>